* {
    box-sizing: border-box;
    transition: all .3s ease;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* background-color:#222; */
}
ul {
    list-style: none;
    position: relative;
    /* padding: 0; */
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #FFF;
    z-index:1000;
    position: relative;
}
.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.open-nav {
    display: none;
}
nav {
    width: 100%;
    max-width: 700px;
}
nav .list-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
nav .list-menu a {
    position: relative;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 5px;
}
nav .list-menu a:hover {
    color: #ff9b00;
}
nav .list-menu a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color:#ff9b00;
    transition: all .3s ease;
}
nav .list-menu a:hover::before {
    width: 100%;
    transition: all .3s ease;
}

/* Responsivo */
@media (max-width: 425px) {
    .container {
        height: 40px;
    }
    .content-header img {
        height: 30px;
        margin-top: 5px;
    }
    nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.897);
    }
    nav .list-menu {
        flex-direction: column;
        margin: 0;
        padding: 60px 0 0 0;  
    }
    nav .list-menu a {
        display: block;
        margin-bottom: 20px;
        color: #FFF;   
    }
    .open-nav {
        position: relative;
        display: block;
        width: 40px;
        height: 30px;
        border: transparent;
        background-color: transparent;
        z-index: 3;
    }
    .open-nav .line {
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #fa852f;
        left: 0;
        border-radius: 5px;
    }
    .open-nav .line.line_1 {
        top: 0;
    }
    .open-nav .line.line_2 {
       top: 50%;
       transform: translateY(-50%);
       opacity: 1;
    }
    .open-nav .line.line_3 {
        bottom: 0;
    }
    button.open-nav.open .line.line_1 {
        transform: rotate(40deg);
        transform-origin: left;
    }
    button.open-nav.open .line.line_2 {
        left: 100%;
        opacity: 0;
    }
    button.open-nav.open .line.line_3 {
        transform: rotate(-40deg);
        transform-origin: left;
    }
    nav.menu.active {
        left: 0;
    }
}



/* Footer */
.footer {
    background-color: #000;
    width: 100%;
    height: 150px;
    bottom: 0;
    position: relative;
}

.social_media {
    background-color: #222; 
    height: 70px;
    display: flex;
    justify-content: center;
    
}
.social_media_area {
    height: 30px;
    width: 30px;
    background-color: #FFF;
    border-radius: 25px;
    text-align: center;
    padding: 5px;
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.social_media img {
    height: 20px;
    opacity: .8;
}
.social_media img:hover {
    opacity: 1;
}
@media (max-width: 425px) {
    .footer {
        height: 100px;
    }
}